[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "installr"]
	path = installr
	url = https://github.com/talgalili/installr
	shallow = true
	registered = true
[submodule "heatmaply"]
	path = heatmaply
	url = https://github.com/talgalili/heatmaply
	shallow = true
	registered = true
[submodule "edfun"]
	path = edfun
	url = https://github.com/talgalili/edfun
	shallow = true
	registered = true
[submodule "dendextend"]
	path = dendextend
	url = https://github.com/talgalili/dendextend
	shallow = true
	registered = true
[submodule "gplots"]
	path = gplots
	url = https://github.com/talgalili/gplots
	shallow = true
	registered = true
