[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dendextend"]
	path = dendextend
	url = https://github.com/talgalili/dendextend
[submodule "edfun"]
	path = edfun
	url = https://github.com/talgalili/edfun
[submodule "gplots"]
	path = gplots
	url = https://github.com/talgalili/gplots
[submodule "heatmaply"]
	path = heatmaply
	url = https://github.com/talgalili/heatmaply
[submodule "installr"]
	path = installr
	url = https://github.com/talgalili/installr
